
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin: 0;
      margin-bottom: 0px !important;
      border-radius: 0;
      border-radius: 0px !important;
    }
    .jumbotron{
       
        margin-bottom: 0px !important;
        padding:0px 0px;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

